<h1>Log in</h1>
<%= form_with model: @user, url: sessions_path, local: true do |f| %>
<div class="card col-md-6">
  <p>
  <%= f.label :email %>
  <%= f.text_area :email %>
  </p>  
  <p>
  <%= f.label :password %>
  <%= f.password_field :password %>
  </p>
  <%= f.submit "Entrar" %>
</div>
<% end %>

<% if logged? %>
  usuario <%= current_user.name %>
  <%= link_to "Salir", session_path(current_user), method: :delete %>
<% else %>
  no usuario
  <%= link_to "Entrar", new_session_path %>
<%end%>